.header-img {
    display:block;
    padding-top:5px;
    padding-left:3px;
    padding-right:5px;
}

.nav-bg {
    background-color:white;
}

.navbar-inverse {
    background-color: #f3f2f1;
    border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #343741;
}

.cust-support {
    text-align:right;
    color:#00a4c7;
}

.btn-search {
    color: #00a4c7;
    background-color: #dbd7d6;
    border-color: #dbd7d6;
}

.search-form {
     color: black;
    background-color: #f3f2f1;
    border-color: #dbd7d6;
}

@media only screen and (max-width: 767px) {
    
}

@media only screen and (min-width: 768px) {
    
}